{{ define "main" }}

<div class="main-accordion">
  {{ range .Site.Data.accordion.images }}
  {{ $alt := .alt }}
  <div
    class="main-accordion__image-container{{ if .optional }} main-accordion__image-container--optional{{ end }}"
    role="button"
    tabindex="0"
    aria-pressed="false"
    aria-label="expand image"
  >
    {{ with resources.Get .path }}
    <img
      src="{{ .RelPermalink }}"
      {{ if $alt }}
      alt="{{ $alt }}"
      {{ end }}
      width="{{ .Width }}"
      height="{{ .Height }}"
    />
    {{ end }}
  </div>
  {{ end }}
</div>

<style>
  .main-accordion {
    margin: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }

  .main-accordion__image-container {
    border: 1px solid var(--accent-colour);
    width: calc(50% - 2px);
    flex: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    transition: flex 0.5s;
  }

  .main-accordion__image-container--optional {
    display: none;
  }

  .main-accordion__image-container img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 600px) {
    .main-accordion {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .main-accordion__image-container {
      border: none;
      width: auto;
      flex: 1;

      cursor: pointer;
    }

    .main-accordion__image-container--optional {
      display: flex;
    }

    .main-accordion__image-container:hover,
    .main-accordion__image-container:focus,
    .main-accordion__image-container:focus-within,
    .main-accordion__image-container[aria-pressed="true"] {
      flex: 25em;
    }
  }

  @media (min-width: 850px) {
    .main-accordion__image-container:hover,
    .main-accordion__image-container:focus,
    .main-accordion__image-container:focus-within,
    .main-accordion__image-container[aria-pressed="true"] {
      flex: 15em;
    }
  }
</style>

{{ end }}
