{{ define "main" }}

<div class="main-accordion">
  {{ range .Site.Data.accordion.images }}
  {{ $alt := .alt }}
  <div>
    {{ with resources.Get .path }}
    <img src="{{ .RelPermalink }}" {{ if $alt }} alt="{{ $alt }}" {{ end }} />
    {{ end }}
  </div>
  {{ end }}
</div>

<style>
  .main-accordion {
    margin: 0;
    height: 100%;

    display: flex;
  }

  .main-accordion > div {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    transition: flex 0.5s;
  }

  .main-accordion > div:hover,
  .main-accordion > div:focus,
  .main-accordion > div:focus-within {
    flex: 15em;
  }

  .main-accordion img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
</style>

{{ end }}
