#!/bin/sh

export HUGO_AIRTABLE_AUTH_TOKEN=
export HUGO_AIRTABLE_BASE_ID=

export HUGO_AIRTABLE_PAYING_JOBS_TABLE_ID=
export HUGO_AIRTABLE_UPCOMING_SITTINGS_VIEW_ID=

export HUGO_AIRTABLE_SPECIAL_DATES_TABLE_ID=
export HUGO_AIRTABLE_UPCOMING_DAYTIME_HOLIDAY_RATES_VIEW_ID=
export HUGO_AIRTABLE_UPCOMING_DAYTIME_UNAVAILABILITY_VIEW_ID=
export HUGO_AIRTABLE_UPCOMING_OVERNIGHT_HOLIDAY_RATES_VIEW_ID=
export HUGO_AIRTABLE_UPCOMING_OVERNIGHT_UNAVAILABILITY_VIEW_ID=
