:root {
  background: url(/images/background.jpg);

  --accent-colour: #c9c3f8;
  --accent-colour-low-opacity: #c9c3f840;
  --accent-colour-dark: #8879f6;
}

::-moz-selection {
  background-color: var(--accent-colour-dark);
  color: white;
}

::selection {
  background-color: var(--accent-colour-dark);
  color: white;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;

  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

body > header {
  grid-area: header;
}

body > main {
  grid-area: main;
  overflow-x: hidden;

  background-color: var(--accent-colour-low-opacity);
}

body > footer {
  grid-area: footer;
}

a {
  color: inherit;
  -webkit-text-decoration-color: var(--accent-colour-dark);
  text-decoration-color: var(--accent-colour-dark);
  text-decoration-thickness: 0.2em;

  transition: -webkit-text-decoration-color 0.2s;
  transition: text-decoration-color 0.2s;
  transition: text-decoration-color 0.2s, -webkit-text-decoration-color 0.2s;
}

a:hover {
  -webkit-text-decoration-color: var(--accent-colour);
  text-decoration-color: var(--accent-colour);
}

strong {
  font-weight: bold;
}

table {
  border-spacing: 1em 0.5em;
}

@media (min-width: 600px) {
  table {
    border-spacing: 2em 0.2em;
  }
}

@media (min-width: 850px) {
  table {
    border-spacing: 3em 0.2em;
  }
}
