:root {
  background: url(/images/background.jpg);

  --accent-colour: #9fe8f2;
  --accent-colour-dark: #48b3c9;

  --secondary-accent-colour-low-opacity: #c9c3f840;
}

::-moz-selection {
  background-color: var(--accent-colour-dark);
  color: white;
}

::selection {
  background-color: var(--accent-colour-dark);
  color: white;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;

  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

body > header {
  grid-area: header;
}

body > main {
  position: relative;
  grid-area: main;
  overflow-x: hidden;

  background-color: var(--secondary-accent-colour-low-opacity);
}

body > footer {
  grid-area: footer;
}

a {
  color: inherit;
  -webkit-text-decoration-color: var(--accent-colour-dark);
  text-decoration-color: var(--accent-colour-dark);
  text-decoration-thickness: 0.15em;
  text-underline-position: from-font;

  transition: color 0.2s;
}

a:hover {
  color: var(--accent-colour-dark);
}

strong {
  font-weight: bold;
}

table {
  width: 100%;
  max-width: 30em;

  border-spacing: 0 0.2em;
}

@media (min-width: 850px) {
  table {
    border-spacing: 1em 0.2em;
  }
}

picture img {
  height: 100%;
  width: 100%;
}
