<footer class="page-footer">
  <div>
    <span>© 2022-2023 SuperNova Pet Care. All rights reserved.</span>

    <span>Website by <a href="https://erbridge.co.uk/">erbridge</a>.</span>
  </div>
</footer>

<style>
  .page-footer {
    border-top: 8px solid var(--accent-colour);

    font-size: 10pt;
  }

  .page-footer > div {
    margin: auto;
    max-width: 50em;
    padding: 1em;

    display: flex;
    justify-content: space-between;
  }

  .page-footer > div :last-child {
    text-align: right;
  }

  @media (min-width: 450px) {
    .page-footer {
      font-size: 12pt;
    }
  }

  @media (min-width: 600px) {
    .page-footer {
      font-size: inherit;
    }
  }
</style>
