<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/" />
  <link rel="stylesheet" href="/css/global.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Outfit:wght@300;600&display=swap"
  />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#8879f6" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" />
  <meta name="application-name" content="{{ .Site.Title }}" />
  <meta name="msapplication-TileColor" content="#00aba9" />
  <meta name="theme-color" content="#8879f6" />

  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
  <meta name="title" content="{{ .Site.Title }}" />
  <meta
    name="description"
    content="{{ .Site.Data.pastel_nova.meta.description }}"
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta
  property="og:description"
  content="{{ .Site.Data.pastel_nova.meta.description }}"
  />
  {{ with resources.Get .Site.Data.pastel_nova.meta.image }}
  <meta property="og:image" content="{{ .Permalink }}" />
  {{ end }}

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{{ .Site.BaseURL }}" />
  <meta property="twitter:title" content="{{ .Site.Title }}" />
  <meta
    property="twitter:description"
    content="{{ .Site.Data.pastel_nova.meta.description }}"
  />
  {{ with resources.Get .Site.Data.pastel_nova.meta.image }}
  <meta property="twitter:image" content="{{ .Permalink }}" />
  {{ end }}
</head>
