{{ define "main" }}

<div class="default-single">
  {{ if .Params.left_image }}
  {{ $left_alt := .Params.left_image.alt }}
  {{ with resources.Get .Params.left_image.path }}
  <picture class="default-single__image">
    {{ with .Resize "1280x webp photo" }}
    <source srcset="{{ .RelPermalink }}" type="{{ .MediaType }}">
    {{ end }}
    {{ with .Resize "1280x jpeg photo" }}
    <source srcset="{{ .RelPermalink }}" type="{{ .MediaType }}">
    <img
      src="{{ .RelPermalink }}"
      {{ if $left_alt }}
      alt="{{ $left_alt }}"
      {{ end }}
      width="{{ .Width }}"
      height="{{ .Height }}"
    />
    {{ end }}
  </picture>
  {{ end }}
  {{ end }}

  <div class="default-single__content">
    <div>{{ .Content }}</div>
  </div>

  {{ if .Params.right_image }}
  {{ $right_alt := .Params.right_image.alt }}
  {{ with resources.Get .Params.right_image.path }}
  <picture class="default-single__image">
    {{ with .Resize "1280x webp photo" }}
    <source srcset="{{ .RelPermalink }}" type="{{ .MediaType }}">
    {{ end }}
    {{ with .Resize "1280x jpeg photo" }}
    <source srcset="{{ .RelPermalink }}" type="{{ .MediaType }}">
    <img
      src="{{ .RelPermalink }}"
      {{ if $right_alt }}
      alt="{{ $right_alt }}"
      {{ end }}
      width="{{ .Width }}"
      height="{{ .Height }}"
    />
    {{ end }}
  </picture>
  {{ end }}
  {{ end }}
</div>

<div class="default-single__floating-content">
  <strong>{{ .Site.Data.pastel_nova.sticky_content }}</strong>
</div>

<style>
  .default-single {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .default-single__image {
    max-height: 65vh;
    width: 100%;
  }

  .default-single__image img {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
  }

  .default-single__content {
    flex: 1;
    padding: 2em;
    padding-bottom: 5em;
  }

  .default-single__content > div {
    {{ if .Params.left_image }}margin-right: auto;{{ end }}
    {{ if .Params.right_image }}margin-left: auto;{{ end }}
    max-width: 40em;
    width: 100%;
  }

  .default-single__content > div > :first-child {
    margin-top: 0;
  }

  .default-single__content > div > :last-child {
    margin-bottom: 0;
  }

  .default-single__floating-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 2em calc(1em - 8px);
    font-size: 0.85em;
    background-color: var(--accent-colour);
    text-align: center;
  }

  @media (min-width: 450px) {
    .default-single {
      flex-direction: row;
      justify-content: {{ if and .Params.left_image .Params.right_image }}space-between{{ else if .Params.left_image }}flex-start{{ else if .Params.right_image }}flex-end{{ else }}center{{ end }};
      overflow: hidden;
    }

    .default-single__image {
      max-height: none;
      height: 100%;
      max-width: 40vw;
      width: auto;
    }

    .default-single__content {
      overflow: auto;
    }

    .default-single__floating-content {
      font-size: 1em;
    }
  }

  @media (min-width: 850px) {
    .default-single__content {
      padding: 2em 4em 5em;
    }
  }
</style>

{{ end }}
