{{ define "main" }}

<div class="default-single">
  {{ if .Params.left_image }}
  {{ $left_alt := .Params.left_image }}
  {{ with resources.Get .Params.left_image.path }}
  <img
    class="default-single__image"
    src="{{ .RelPermalink }}"
    {{ if $left_alt }}
    alt="{{ $left_alt }}"
    {{ end }}
  />
  {{ end }}
  {{ end }}

  <div class="default-single__content"><div>{{ .Content }}</div></div>

  {{ if .Params.right_image }}
  {{ $right_alt := .Params.right_image }}
  {{ with resources.Get .Params.right_image.path }}
  <img
    class="default-single__image"
    src="{{ .RelPermalink }}"
    {{ if $right_alt }}
    alt="{{ $right_alt }}"
    {{ end }}
  />
  {{ end }}
  {{ end }}
</div>

<style>
  .default-single {
    height: 100%;
    display: flex;
    justify-content: {{ if and .Params.left_image .Params.right_image }}space-between{{ else if .Params.left_image }}flex-start{{ else if .Params.right_image }}flex-end{{ else }}center{{ end }};
    overflow: hidden;
  }

  .default-single__image {
    height: 100%;
  }

  .default-single__content {
    flex: 1;
    padding: 2em 4em;
    overflow: auto;
  }

  .default-single__content > div {
    {{ if .Params.left_image }}margin-right: auto;{{ end }}
    {{ if .Params.right_image }}margin-left: auto;{{ end }}
    max-width: 40em;
    width: 100%;
  }

  .default-single__content > div > :first-child {
    margin-top: 0;
  }

  .default-single__content > div > :last-child {
    margin-bottom: 0;
  }
</style>

{{ end }}
