<div class="affiliates">
  <a
    href="https://www.bark.com/en/gb/company/supernova-pet-care/dE6Ab/"
    target="_blank"
    class="bark-widget"
    data-type="pro"
    data-id="dE6Ab"
    data-image="small-navy"
    data-version="3.0"
    data-name="SuperNova Pet Care"
    >Bark</a
  >
  <script
    type="text/javascript"
    src="https://d3a1eo0ozlzntn.cloudfront.net/assets/js/frontend-v2/widgets-v2.24a197bed6.v2.js"
    defer
  ></script>

  <a
    class="pawshake-logo"
    href="https://www.pawshake.co.uk/sitter/EU_BPRDmZaFZQT"
    target="_blank"
    ><img src="https://static1.pawshakecdn.com/global/logo.png" alt="Pawshake"
  /></a>
</div>

<style>
  .affiliates {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2em;
    -moz-column-gap: 4em;
    column-gap: 4em;
  }

  .pawshake-logo {
    padding: 0.5em;
    background-color: rgb(92, 172, 226);
  }

  @media (min-width: 600px) {
    .affiliates {
      flex-direction: row;
    }
  }
</style>
