<div class="affiliates">
  <a
    class="pawshake-logo"
    href="https://www.pawshake.co.uk/sitter/EU_BPRDmZaFZQT"
    target="_blank"
    ><img src="https://static1.pawshakecdn.com/global/logo.png" alt="Pawshake"
  /></a>
</div>

<style>
  .affiliates {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2em;
    -moz-column-gap: 4em;
    column-gap: 4em;
  }

  .pawshake-logo {
    padding: 0.5em;
    background-color: rgb(92, 172, 226);
  }

  @media (min-width: 600px) {
    .affiliates {
      flex-direction: row;
    }
  }
</style>
